@{
    Layout = null;
}
    <link href="~/Assets/css/oneCikanListe.css" rel="stylesheet" />
<div class="anasayfa">
    <main class="main section-color-primary">
        @Html.Partial("_SearchList")
    </main>

    <div class="loading" id="loading"></div>
    <div class="hide_list col-md-10" style="background:none;">
        <div class="hide_list1" id="oneCikanButton">
            <img id="okIcon" src="https://page-assets.foxtons.co.uk/img/icons/chevron-left.svg" style="height: 31px; width: 31px;" />
        </div>
    </div>
    <div class="col-md-10 shadow-lg p-3 mb-5 bg-white rounded" id="main-map" style="display:block;height:790px;margin-bottom:0px!important;border:1px solid #1f656c">
    </div>
    <div id="oneCikanFormu" class="col-md-2" style="overflow:auto; height:790px;border: 1px #1f656c solid;padding:0px;">
        <header class="w3-container1 w3-light-grey" style="background:#f9f3f3;">
            <div class="properties">
                <div class="row ">
                    @*<div class="left" style="position:absolute;z-index:100;right: 0px;">
                        <div class="item" style="float: right;">
                            <i class="fas fa-fw fa-bars"></i>
                        </div>
                        <div class="item">
                            <i class="fas fa-fw fa-map-marked-alt"></i> Havuz
                        </div>
                        <div class="item">
                            <i class="fas fa-fw fa-columns"></i> Fiyata göre azalan
                        </div>
                        <div class="item">
                            <i class="fas fa-fw fa-th"></i> Fiyata göre artan
                        </div>
                        <div class="item">
                            <i class="fas fa-fw fa-user-circle"></i> Banyo sayısına göre azalan
                        </div>
                    </div>*@
                    <button class=" col-md-12" disabled style="font-size:20px;font-family:Roboto;font-weight:bold;">Öne Çıkanlar</button>
                    <div class="card-group col-md-12 kerim">
                        <div class="card">
                            <div class="row mt-30">
                                <div class="box14">
                                    <img class="card-img-top" src="Assets/img/placeholders/ofis3.jpg" alt="Card image cap">
                                    <div class="box-content">
                                        <h3 class="title">Vucino Han</h3>
                                        <span class="post">İş Yeri</span>
                                        <ul class="icon">
                                            <li style="margin-left: 78%;"><a href="@Url.Action("TasinmazDurum","Tasinmaz")"><i style="font-size: 16px;padding: 12px;" class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-9">
                                    <h3><a href="@Url.Action("TasinmazDurum","Tasinmaz")" style="color:#103f4f">Vucino Han</a></h3>
                                </div>
                                <div class="col-md-3" id="addFavorite" style="right:0px;">
                                    <img src="~/Assets/img/favoriEkle.png" />
                                </div>
                                <div class="col-md-12">
                                    <p class="card-text">This is a wider card with </p>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="property-preview-f-left text-color-primary">
                                    <span class="property-card-value" style="border-right:1px solid white;padding:2px;">
                                        <i class="fa fa-home"></i>İş Hanı
                                    </span>
                                    <span class="property-card-value" style="border-right:1px solid white;padding:2px;">
                                        <i class="fa fa-square-o"></i>4+1
                                    </span>
                                    <span class="property-card-value" style="border-right:1px solid white;padding:2px;">
                                        <i class="fa fa-square-o"></i>800 m²
                                    </span>
                                    <span class="property-card-value" >
                                        <i class="fa fa-try"></i>
                                        *****
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-group col-md-12 kerim">
                        <div class="card">
                            <div class="row mt-30">
                                <div class="box14">
                                    <img class="card-img-top" src="Assets/img/placeholders/ofis1.jpg" alt="Card image cap">
                                    <div class="box-content">
                                        <h3 class="title">Asmalı Han</h3>
                                        <span class="post">Konut</span>
                                        <ul class="icon">
                                            <li style="margin-left: 78%;"><a href="@Url.Action("TasinmazDurum","Tasinmaz")"><i style="font-size: 16px;padding: 12px;" class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-9">
                                    <h3><a href="@Url.Action("TasinmazDurum","Tasinmaz")" style="color:#103f4f">Asmalı Han</a></h3>
                                </div>
                                <div class="col-md-3" id="addFavorite" style="right:0px;">
                                    <img src="~/Assets/img/favoriEkle.png" />
                                </div>
                                <div class="col-md-12">
                                    <p class="card-text">This is a wider card with.</p>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="property-preview-f-left text-color-primary">
                                    <span class="property-card-value">
                                        <i class="fa fa-home"></i>İş Hanı
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>4+1
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>800 m²
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-try"></i>
                                        *****
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-group col-md-12 kerim">
                        <div class="card">
                            <div class="row mt-30">
                                <div class="box14">
                                    <img class="card-img-top" src="Assets/img/placeholders/ofis1.jpg" alt="Card image cap">
                                    <div class="box-content">
                                        <h3 class="title">Asmalı Han</h3>
                                        <span class="post">Konut</span>
                                        <ul class="icon">
                                            <li style="margin-left: 78%;"><a href="@Url.Action("TasinmazDurum","Tasinmaz")"><i style="font-size: 16px;padding: 12px;" class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-9">
                                    <h3><a href="@Url.Action("TasinmazDurum","Tasinmaz")" style="color:#103f4f">Asmalı Han</a></h3>
                                </div>
                                <div class="col-md-3" id="addFavorite" style="right:0px;">
                                    <img src="~/Assets/img/favoriEkle.png" />
                                </div>
                                <div class="col-md-12">
                                    <p class="card-text">This is a wider card with.</p>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="property-preview-f-left text-color-primary">
                                    <span class="property-card-value">
                                        <i class="fa fa-home"></i>İş Hanı
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>4+1
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>800 m²
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-try"></i>
                                        *****
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-group col-md-12 kerim">
                        <div class="card">
                            <div class="row mt-30">
                                <div class="box14">
                                    <img class="card-img-top" src="Assets/img/placeholders/ofis1.jpg" alt="Card image cap">
                                    <div class="box-content">
                                        <h3 class="title">Asmalı Han</h3>
                                        <span class="post">Konut</span>
                                        <ul class="icon">
                                            <li style="margin-left: 78%;"><a href="@Url.Action("TasinmazDurum","Tasinmaz")"><i style="font-size: 16px;padding: 12px;" class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-9">
                                    <h3><a href="@Url.Action("TasinmazDurum","Tasinmaz")" style="color:#103f4f">Asmalı Han</a></h3>
                                </div>
                                <div class="col-md-3" id="addFavorite" style="right:0px;">
                                    <img src="~/Assets/img/favoriEkle.png" />
                                </div>
                                <div class="col-md-12">
                                    <p class="card-text">This is a wider card with.</p>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="property-preview-f-left text-color-primary">
                                    <span class="property-card-value">
                                        <i class="fa fa-home"></i>İş Hanı
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>4+1
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>800 m²
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-try"></i>
                                        *****
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-group col-md-12 kerim">
                        <div class="card">
                            <div class="row mt-30">
                                <div class="box14">
                                    <img class="card-img-top" src="Assets/img/placeholders/ofis1.jpg" alt="Card image cap">
                                    <div class="box-content">
                                        <h3 class="title">Zafer Han</h3>
                                        <span class="post">İş Yeri</span>
                                        <ul class="icon">
                                            <li style="margin-left: 78%;"><a href="@Url.Action("TasinmazDurum","Tasinmaz")"><i style="font-size: 16px;padding: 12px;" class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-9">
                                    <h3><a href="@Url.Action("TasinmazDurum","Tasinmaz")" style="color:#103f4f">Zafer Han</a></h3>
                                </div>
                                <div class="col-md-3" id="addFavorite" style="right:0px;">
                                    <img src="~/Assets/img/favoriEkle.png" />
                                </div>
                                <div class="col-md-12">
                                    <p class="card-text">This is a wider card with supporting</p>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="property-preview-f-left text-color-primary">
                                    <span class="property-card-value">
                                        <i class="fa fa-home"></i>İş Hanı
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>4+1
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>800 m²
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-try"></i>
                                        *****
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-group col-md-12 kerim">
                        <div class="card">
                            <div class="row mt-30">
                                <div class="box14">
                                    <img class="card-img-top" src="Assets/img/placeholders/ofis1.jpg" alt="Card image cap">
                                    <div class="box-content">
                                        <h3 class="title">Zafer Han</h3>
                                        <span class="post">İş Yeri</span>
                                        <ul class="icon">
                                            <li style="margin-left: 78%;"><a href="@Url.Action("TasinmazDurum","Tasinmaz")"><i style="font-size: 16px;padding: 12px;" class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-9">
                                    <h3><a href="@Url.Action("TasinmazDurum","Tasinmaz")" style="color:#103f4f">Zafer Han</a></h3>
                                </div>
                                <div class="col-md-3" id="addFavorite" style="right:0px;">
                                    <img src="~/Assets/img/favoriEkle.png" />
                                </div>
                                <div class="col-md-12">
                                    <p class="card-text">This is a wider card with supporting</p>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="property-preview-f-left text-color-primary">
                                    <span class="property-card-value">
                                        <i class="fa fa-home"></i>İş Hanı
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>4+1
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-square-o"></i>800 m²
                                    </span>
                                    <span class="property-card-value">
                                        <i class="fa fa-try"></i>
                                        *****
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>


